h1 {
  color: green;
  text-align: center;
  font-style: italic;
  font-size: ;
}
h2 {
  color: crimson;
  font-style: italic;
}
h3 {
  color: cornflowerblue;
  font-style: italic;
}
h4 {
  color: brown;
  font-style: italic;
}
a:visited {
  color: blue;

  font-family: Verdana;
}
p {
  font-style: Verdana;
}
