#main {
  width: 800px;
  height: 600px;
  border: solid grey;
  list-style-type: none;
  position: absolute;
}

#a {
  display: inline-block;
  top: 0%;
  position: absolute;
  background: blue;
}

#b {
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 38px;
  background: red;
}

#c {
  display: inline-block;
  top: 0%;
  left: 15%;
  position: absolute;
  background: yellow;
}
